* {
        font-family: 'Roboto', sans-serif;
        color: #222;
    }
    #product .product__detail table, th, tr, td {
        border: 1px solid #ddd;
        border-collapse: collapse;
    }
    #product .product__detail table, th, tr, td p{
    margin-bottom: 0rem;
    }
    #product .product__detail table, th, tr, td p strong
    {
        font-weight: normal;
    }
    .cat .cat_title,.page-brand .navbar-brand,.navbar-light .navbar-brand
    {
        color: #be1c2d !important;
    }
    .cat .cat_title
    {
        line-height:1.5rem !important;
    }
    h5.modal-title
    {
        display: block;
        font-size: 0.7em;
        word-break: break-word;
        font-weight: bold;
    }
    .product__detail h2{
        font-size:1em;
        
    }
    .product__des,.product__detail{
        
        color: #222;
    }
    #page-products .product__title{
        display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;
       overflow: hidden;
       text-overflow: ellipsis;
       font-size: .8rem!important;
        text-align: left;
    }
    #page-products .product__desc{
        display:none;
    }
    #product .product__des, #product .product__detail, #product .product__detail h2, #product .product__detail h1 {
        color: #222;
    letter-spacing: 0;
    line-height: 1.4rem;
    margin-bottom: 10px;
}
        #product .product__cart{
        font-size: 1rem;
        border: 1px solid;
        background-color: var(--primary);
        border-color: var(--primary);
        display: inline-block;
        color: #fff !important;
            padding: 0.1rem 0.3rem;
            width: fit-content !important;
            height: auto !important;
    }
    #product .product__cart i{
        margin-right: .3rem;
    }
#product .product__cart i:before {
    color: #fff !important;
}
    .money--discount span{
        color: #1c1c1c !important;
    }
    .product__price span, .w-100 strong {
        font-size: 1rem !important;
    }
